@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */

body {
  @apply bg-background text-black font-oxanium font-normal;
}

.btn {
  @apply bg-white text-black px-6 py-2 rounded-full border border-primary hover:bg-primary hover:text-white uppercase;
}

.btn.primary {
  @apply bg-blue-600 text-white hover:bg-white hover:text-primary;
}

.input {
  @apply w-full px-4 py-2 border border-neutral-300 text-black rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500;

}
.card {
  @apply p-6 rounded-lg shadow-md border border-gray-100;
}

.link {
  @apply text-blue-600;
}
.dataTable {
  @apply w-full border border-neutral-100;
}
.dataTable th {
  @apply bg-background-dark border text-white border-neutral-300;
}
.dataTable td {
  @apply border border-neutral-300 bg-white;
}

.container-fluid {
  @apply px-16 mx-auto;
}

h1 {
  @apply text-4xl font-bold text-gray-900;
}
h2 {
  @apply text-3xl font-semibold text-gray-800;
}

h3 {
  @apply text-2xl font-semibold text-gray-800;
}

h4 {
  @apply text-xl font-medium text-gray-800;
}

p {
  @apply text-base leading-relaxed;
}

small {
  @apply text-sm;
}

.list {
  @apply list-disc list-inside space-y-1;
}

.blink {
  animation: blink-animation 1s steps(2, start) infinite;
  color: rgb(255, 149, 0); /* Optional styling */
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}